<div class="row mb-1 custom-border">
  <div class="col-md-1 text-center custom-border-right m-0">
    <img src="favicon.ico" width="80px" height="80px"/>
  </div>
  <div class="col-md-5">
    <div class="custom-border-right">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">entAcronym</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">entName</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">entNiu</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i><br/>Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt"></i><br/>Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-list-alt"></i><br/>Details
        </button>
      </div>
    </div>
  </div>
</div>
