<!--<div class="input-group mb-3">-->
<!--  <input type="text" class="form-control" placeholder="Mot cle recherche"-->
<!--         id="keyword" name="keyword"-->
<!--         aria-label="Keyword" aria-describedby="basic-addon1">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text" id="basic-addon1">-->
<!--      <button type="button" class="btn btn-outline-primary">Rechercher</button>-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col col-md-8">
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="col col-md-4 d-flex justify-content-end">
    <form class="form-inline">
      <div class="form-group mb-2">
        <label for="inputKeyword" class="sr-only">Mot cle:</label>
        <input type="text" class="form-control" id="inputKeyword" placeholder="Mot cle">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
    </form>
  </div>
</div>
