<div class="col">
  <div class="row m-1">
    <div class="col-md-8 p-0">
      <h3>Liste des Produits</h3>
    </div>
    <div class="col-md-4 text-right">
      <app-product-action></app-product-action>
    </div>
  </div>
  <div class="col m-1">
    <app-product-details></app-product-details>
    <app-product-details></app-product-details>
    <app-product-details></app-product-details>
    <app-product-details></app-product-details>
    <app-product-details></app-product-details>
  </div>
  <div class="row text-center">
    <div class="col-md-12 text-center mt-3">
      <app-product-pagination></app-product-pagination>
    </div>
  </div>
</div>

