<div class="col">
  <div class="row m-1">
    <div class="col-md-8 p-0">
      <h3>Nouveau produit</h3>
    </div>
    <div class="col-md-4 text-right">
      <app-product-action></app-product-action>
    </div>
  </div>
  <div class="col m-1">
    <div class="col-md-12 mb-2">
<!--      <img src="favicon.ico" class="rounded-circle" width="100px" height="100px"/>-->
    </div>
    <div class="col-md-12 m-0">
      <div class="col-md-12 m-0 mb-2">
        <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Informations sur le nouveau produit</h2>
      </div>
      <!--      La zone d'alerte pour les erreurs doit etre ici-->
      <form>
        <div class="row">
          <div class="col-md-4">
            <!--            Le input du prodName-->
            <div class="form-group">
              <label for="inputProdName"><strong>Nom du produit:</strong></label>
              <input type="text" class="form-control" id="inputProdName" name="inputProdName" placeholder="">
            </div>
            <!--            Le input du prodAlias-->
            <div class="form-group">
              <label for="inputprodAlias"><strong>Alias du produit:</strong></label>
              <input type="text" class="form-control" id="inputprodAlias" name="inputprodAlias" placeholder="">
            </div>
            <!--            Le input du prodCode-->
            <div class="form-group">
              <label for="inputprodCode"><strong>Code du produit:</strong></label>
              <input type="text" class="form-control" id="inputprodCode" name="inputprodCode" placeholder="">
            </div>

          </div>
          <div class="col-md-4">
            <!--            Le select du prodCat-->
            <div class="form-group">
              <label for="selectProdCat"><strong>Categorie du produit:</strong></label>
              <select class="form-control" id="selectProdCat" name="selectProdCat">
                <option value="root">&nbsp;</option>
                <option value="catId">catName1</option>
                <option value="catId">catName2</option>
              </select>
            </div>
            <!--            Le radio du prodPerishable-->
<!--            <div class="form-group">-->
<!--              <label for="selectCatPos"><strong>Point de vente de la categorie:</strong></label>-->
<!--              <select class="form-control" id="selectCatPos" name="selectCatPos">-->
<!--                <option value="posId">posName1</option>-->
<!--              </select>-->
<!--            </div>-->
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-primary active">
                <input type="radio" name="optionsPerishable" id="options1Perishable" value="true" checked> <strong>Oui</strong>
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="optionsPerishable" id="options2Perishable" value="false"> <strong>Non</strong>
              </label>
            </div>
            <!--            Le input du prodDescription-->
            <div class="form-group">
              <label for="inputProdDescription"><strong>Description du produit:</strong></label>
              <textarea type="text" class="form-control" id="inputProdDescription" name="inputProdDescription"
                        placeholder="Breve description du produit"></textarea>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-start">

          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <button type="button" class="btn btn-danger mr-3">
              <i class="fas fa-ban"></i>&nbsp;Annuler
            </button>
            <button type="button" class="btn btn-primary">
              <i class="fas fa-save"></i>&nbsp;Enregistrer
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row text-center">

  </div>
</div>




