<div class="main-container">
  <div class="row header">
    <div class="col col-md-10">
      <h2>BUSSINESS MANAGEMENT v0</h2>
    </div>
    <div class="col col-md-2">
      <app-badge></app-badge>
    </div>
  </div>
  <div class="row min-height-600">
    <div class="card col col-md-2 d-flex flex-column justify-content-between">
      <app-menu></app-menu>
    </div>
    <div class="card col col-md-10 d-flex flex-column justify-content-between">
      <div class="header-main">
        <app-searchbar></app-searchbar>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h4>{{pageTitle}}</h4>
        </div>
        <div class="col-md-7">
          <app-action></app-action>
        </div>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <div class="card footer">
        footer
      </div>
    </div>
  </div>
</div>
