<div class="col">
  <div class="row m-1">
    <div class="col-md-8 p-0">
      <h3>Liste des devises</h3>
    </div>
    <div class="col-md-4 text-right">
<!--      <app-enterprise-action></app-enterprise-action>-->
      <app-devise-action></app-devise-action>
    </div>
  </div>
  <div class="col m-1">
<!--    <app-enterprise-details></app-enterprise-details>-->
<!--    <app-enterprise-details></app-enterprise-details>-->
<!--    <app-enterprise-details></app-enterprise-details>-->
<!--    <app-enterprise-details></app-enterprise-details>-->
  </div>
  <div class="row text-center">
    <div class="col-md-12 text-center mt-3">
<!--      <app-enterprise-pagination></app-enterprise-pagination>-->
    </div>
  </div>
</div>

