<div class="col">
  <div class="row m-1">
    <div class="col-md-8 p-0">
      <h3>Liste des devises</h3>
    </div>
    <div class="col-md-4 text-right">
      <app-devise-action></app-devise-action>
    </div>
  </div>
  <div class="col m-1">
    <app-devise-details></app-devise-details>
    <app-devise-details></app-devise-details>
    <app-devise-details></app-devise-details>
    <app-devise-details></app-devise-details>
    <app-devise-details></app-devise-details>
  </div>
  <div class="row text-center">
    <div class="col-md-12 text-center mt-3">
      <app-devise-pagination></app-devise-pagination>
    </div>
  </div>
</div>

