<div class="row mb-1 custom-border">
  <!--  Photos de l'utilisateur-->
  <div class="col-md-1 text-center custom-border-right m-0">
    <img src="favicon.ico" width="80px" height="80px"/>
  </div>
  <!--  Parlons de ces parametres personnels-->
  <div class="col-md-4">
    <div class="custom-border-right">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">prodName</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">prodCode</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">prodCat</div>
      </div>
    </div>
  </div>
  <!--  Parlons de son point de vente-->
  <div class="col-md-4">
    <div class="custom-border-right">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">posOwnerName</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">posOwnerAcronym</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">posOwnerAddress</div>
      </div>
    </div>
  </div>
  <!--  Zone des boutons-->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i><br/>Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt"></i><br/>Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <!--        <button type="button" class="btn btn-link">-->
        <!--          <i class="fas fa-list-alt"></i><br/>Details-->
        <!--        </button>-->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-list-alt"></i><br/>Details
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Statistiques</a>
            <a class="dropdown-item" href="#">Details2</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



