<div class="col">
  <div class="row m-1">
    <div class="col-md-8 p-0">
      <h3>Liste des point de ventes</h3>
    </div>
    <div class="col-md-4 text-right">
      <app-pos-action></app-pos-action>
    </div>
  </div>
  <div class="col m-1">
    <app-pos-details></app-pos-details>
    <app-pos-details></app-pos-details>
    <app-pos-details></app-pos-details>
    <app-pos-details></app-pos-details>
    <app-pos-details></app-pos-details>
  </div>
  <div class="row text-center">
    <div class="col-md-12 text-center mt-3">
      <app-pos-pagination></app-pos-pagination>
    </div>
  </div>
</div>

